<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask User Auth App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(to right, #001f3f, #005577); /* Gradient from dark to lighter blue */
            color: #ffffff; /* Light text color */
        }
        label, strong {
        color: #6c757d; /* Greyish color */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
